body {
    margin: 0;
}

.header, .footer {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.section-1 {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

a {
    text-decoration: none;
}

.logo {
    border-radius: 10px;
    width: 50px;
    height: 50px;
    margin-left: 200px;
}

.links {
    margin-right: 200px;
}

.links-wrapper {
    display: flex;
    gap: 20px;
}

.link {
    color: #e5e7eb;
    font-size: 18px;
    font-family: "Roboto";
}

.welcome {
    display: flex;
    margin-top: 80px;
    margin-bottom: 100px;
    align-items: center;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

.flower {
    max-height: 100%;
    min-width: 100%;
}

 .awesome {
    max-width: 500px;
} 

 .image-1 {
    flex-shrink: 1;
    height: 300px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
} 

.text1 {
    font-size: 48px;
    font-family: "Roboto";
    color: #f9faf8;
    font-weight: 800;
}

.text2 {
    color: #e5e7eb;
    font-size: 18px;
    font-family: "Roboto";
}

.signup {
    background-color: #3882f6;
    margin-top: 10px;
    padding: 10px 32px;
    border-radius: 10px;
    color: #e5e7eb;
    font-size: 18px;
    font-family: "Roboto";
    font-weight: 600;
}

.random {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    font-family: "Roboto";
    color: #1f2937;
    margin-top: 30px;
    margin-bottom: 20px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-bottom: 100px;
    padding-top: 50px;
    flex-wrap: wrap;
}

.text {
  text-align: center;
  color: #1f2937;
  font-size: 18px;
  font-family: "Roboto";
}

.section-3 {
  background-color: #e5e7eb;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-family: "Roboto";
  color: #1f2937;
  font-weight: 300;
}

.quote-wrap {
  display: flex;
  flex-direction: column;
  margin-left: 300px;
  margin-right: 300px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.author {
  align-self: flex-end;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 24px;
}

/* .section-1, .header, .welcome {
  flex-wrap: wrap;
} */
/* Font */

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  